* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    background-color: #ffffff;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-weight: 300;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

p::selection,
h1::selection,
h6::selection {
    background: #fc636b7a;
}


/*******Variables *******/


.mt-8 {
    margin-top: 140px;
}

.p-15 {
    font-size: 15px;
}
.p-16 {
    font-size: 16px;
}

.p-17 {
    font-size: 17px;
}

.p-18 {
    font-size: 18px;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

.color {
    color: #fc636bcc;
}

header {
    background-image: linear-gradient(to right bottom, #fc636bcc, rgb(202, 91, 97, 0.8)), url(../images/header.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0%, 100% 0, 100% 96%, 0% 100%);
    position: relative;
    z-index: 1;
}

/******* Menu bar container *******/
.header-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 10vh;
}

/******* Logo *******/
.logo {
    flex: 1;
}

.logo img {
    height: 50px;
}

/******* Navigation bar*******/
nav {
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    padding: 0 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: rgb(238, 238, 238);
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}

.nav-buttons a:link,
.nav-buttons a:visited {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fc636bcc;
    background-color: #fff;
    transition: all .3s;
}

/******* Header container *******/

.h-text {
    font-weight: 300;
    line-height: 1.8;
    padding-top: 20px;
}

.h-image img {
    width: 100%;
}

/******* Header buttons *******/
.header-buttons {
    margin-top: 40px;
}

.header-buttons a:link,
.header-buttons a:visited {
    padding: 14px 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #fc636bcc;
    background-color: #fff;
    transition: all .3s;
}

.header-buttons a:hover,
.header-buttons a:active {
    color: #331a1ccc;
}

/******* Box below header *******/

.box {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 4px;
    color: rgb(68, 68, 68);
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2;
    margin-top: -80px;
    box-shadow: 0px 20px 53px -50px rgba(0,0,0,0.75);
}

.box h1 {
    font-weight: 300;
}

.box-list li {
    list-style: none;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
}

.box-list li img {
    margin-right: 10px;
    margin-top: -4px;

}

/******* Services *******/

.services {
    margin-top: 80px;
    color: #333;
    margin-bottom: 50px;
    max-width: 1300px;
}

.heading-block p {
    color: rgb(112, 112, 112);
}

.services-block {
    margin-top: 60px;
}

.services-img img {
    width: 15%;
    display: block;
    position: absolute;
}

.services-text {
    padding-left: 90px;
}

.services-text h6 {
    text-transform: uppercase;
    font-weight: 400;
}

.services-text p {
    color: rgb(131, 131, 131);
    line-height: 1.8;
}

/******* Looking for domain *******/

.domain {
    background-color: rgb(248, 248, 248);
    color: #333;
    padding: 60px 0;
}

.domain-row {
    max-width: 1300px;
    margin: auto;
}

.input-group {
    
}

.append-height {
   height: 44px;
}

.btn-16 {
    font-size: 16px;
}

.input-small {
    height: 44px;
}

/******* Map area *******/

.left-box p {
    text-transform: uppercase;
    font-weight: 500;
    color: #fc636bcc;
    font-size: 17px;
    margin-bottom: 3px;
}

.left-box h4 {
    line-height: 1.5;
}

.line {
    background-color: #333;
    height: 2px;
    width: 15%;
    margin: 30px 0;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
}

.countries li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.countries li img {
    margin-right: 7px;
    width: 25px;
}

.countries li a {
    text-decoration: none;
    font-size: 16px;
}

.map-image img {
    max-width: 100%;
}

/******* Sign up *******/

.sign-up {
    background-color: #fc636bcc;
    padding: 60px 0;
}

.sign-button {
    margin: 0;
}

/******* Card services *******/

.before-card p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: rgb(148, 148, 148);
}

.card-body img {
    width: 50px;
}

.card-body h6 {
    font-size: 18px;
    font-weight: bold;
}